$cyan: #4c97ca;
$red: #e0657d;
$info-hover-override: #226c9e;
$danger-hover-override: #d00730;

@import 'bulma/bulma';

.is-clickable {
  cursor: pointer;
}

.table {
  th, td {
    &.is-primary, &.is-info, &.is-link, &.is-success, &.is-warning, &.is-danger {
      border-color: $grey-lighter;
    }
  }
}

.button {
  cursor: pointer;
  &.is-info {
    &.is-hovered,
    &:hover {
      background-color: $info-hover-override;
    }
  }

  &.is-danger {
    &.is-hovered,
    &:hover {
      background-color: $danger-hover-override;
    }
  }
}
